@model IEnumerable<Pedido>

<h2 class="text-center my-4">Pedidos</h2>
<div class="text-right mb-3">
    <a class="btn btn-dark" style="background-color: #FF8C00; border-color: #FF8C00; color: #000;" href="@Url.Action("Create", "Pedido")">
        <i class="fa fa-plus-circle"></i> Crear Nuevo Pedido
    </a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered shadow-lg">
        <thead style="background-color: #FF8C00; color: #000;">
            <tr>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Apellido</th>
                <th scope="col" class="text-center">Teléfono</th>
                <th scope="col" class="text-center">Gmail</th>
                 <th scope="col" class="text-center">Detalles Pedido</th>
                <th scope="col" class="text-center">Fecha de Pedido</th>
                <th scope="col" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var pedido in Model)
        {
            <tr>
                <td class="align-middle text-center">@pedido.nombre</td>
                <td class="align-middle text-center">@pedido.apellido</td>
                <td class="align-middle text-center">@pedido.telefono</td>
                <td class="align-middle text-center">@pedido.gmail</td>
                 <td class="align-middle text-center">@pedido.detallesPedido</td>
                <td class="align-middle text-center">@pedido.fechaPedido.ToShortDateString()</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-outline-dark mx-1" style="border-color: #FF4500; color: #FF4500;" href="@Url.Action("Details", "Pedido", new { id = pedido.id })">
                        <i class="fa fa-eye"></i> Detalles
                    </a>
                    <a class="btn btn-sm btn-outline-dark mx-1" style="border-color: #FF8C00; color: #FF8C00;" href="@Url.Action("Edit", "Pedido", new { id = pedido.id })">
                        <i class="fa fa-pencil-square-o"></i> Modificar
                    </a>
                    <a class="btn btn-sm btn-outline-dark mx-1" style="border-color: #FF4500; color: #FF4500;" href="@Url.Action("Delete", "Pedido", new { id = pedido.id })">
                        <i class="fa fa-trash-o"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
