@model Cliente

<h2 class="text-center my-4" style="color: #FF4500;">Detalles de Cliente</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm p-4 mb-4" style="border: 1px solid #FF4500; border-radius: 10px;">
            <h4 class="text-center mb-4" style="color: #FF4500;">Información del Cliente</h4>
            <dl class="row">
                <dt class="col-sm-4" style="font-weight: bold; color: #FF4500;">
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.nombre)
                </dd>
                <dt class="col-sm-4" style="font-weight: bold; color: #FF4500;">
                    @Html.DisplayNameFor(model => model.apellido)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.apellido)
                </dd>
                <dt class="col-sm-4" style="font-weight: bold; color: #FF4500;">
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.telefono)
                </dd>
                <dt class="col-sm-4" style="font-weight: bold; color: #FF4500;">
                    @Html.DisplayNameFor(model => model.email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.email)
                </dd>
            </dl>
        </div>
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-dark mx-2" style="background-color: #FF4500; border-color: #FF4500; color: white; width: 150px;">
                Editar
            </a>
            <a asp-action="Index" class="btn btn-outline-dark mx-2" style="border-color: #FF4500; color: #FF4500; width: 150px;">
                Regresar
            </a>
        </div>
    </div>
</div>
